---
---

// https://fonts.google.com/specimen/Michroma?preview.text=k%C3%B8dpa%CC%8Al%C3%A6g&preview.text_type=custom&query=michroma
@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

*{font-family: 'Orbitron';}

a:link, a:hover, a:visited, a:active {
    color: black;
    text-decoration: underline;
    font-weight: normal;
}
